In [3]:
from sqlalchemy import create_engine
import pandas as pd

#### Crear el "engine" pasando la direcci√≥n de la db

In [2]:
engine = create_engine('postgresql://celia@localhost:5432/mytestdb')

#### Hacer la query especificando el "engine" que se desea usar

In [32]:
df = pd.read_sql_query('select * from "Wine"',con=engine)
df

Empty DataFrame
Columns: [WineCode, Type, Vintage]
Index: []

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 3 columns):
CustomerCode    2 non-null int64
Birthday        2 non-null object
Gender          2 non-null object
dtypes: int64(1), object(2)
memory usage: 64.0+ bytes

In [7]:
df.describe()

       CustomerCode
count      2.000000
mean       1.500000
std        0.707107
min        1.000000
25%        1.250000
50%        1.500000
75%        1.750000
max        2.000000

Link a [Pandas NB](Starting%20with%20pandas.ipynb) para ver join, merge, append, etc

#### Agregando un nuevo registro a nuestra tabla "Customer" con pandas

In [25]:
new_df = pd.DataFrame([[4, pd.datetime(2011, 1, 10), 'F']], columns=df.columns)
new_df

   CustomerCode   Birthday Gender
0             4 2011-01-10      F

In [26]:
new_df.to_sql('Customer', engine, if_exists='append', index=None)

#### Agregando una nueva tabla a nuestra db desde pandas

In [29]:
new_table = pd.DataFrame([], columns=['WineCode', 'Type', 'Vintage'])
new_table

Empty DataFrame
Columns: [WineCode, Type, Vintage]
Index: []

In [30]:
new_table.to_sql('Wine', engine, index=None)

#### Ahora hagamos lo mismo con sqlalchemy

In [40]:
from sqlalchemy import MetaData, types
from sqlalchemy import Table, Column

In [35]:
metadata = MetaData()

In [41]:
time = Table('Time', metadata,
    Column('TimeCode', types.Integer, primary_key=True),
    Column('Date', types.DateTime, nullable=False),
 )

In [42]:
metadata.create_all(engine)